@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cat Crafts</h1>
    
</div>

<div class="card-columns">
    @foreach (var cat in Model.Cats)
    {
        <div class="card">
            <img class="card-img-top" src="@cat.Image"/>
            <div class="card-body">
                <h5 class="card-title">@cat.Title</h5>
            </div>
        </div>
    }
</div>
