@page
@using CatCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Cat Crafts</h1>
    
</div>

@(await Html.RenderComponentAsync<CatList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>
